#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*               text=auto
*.txt		    text
*.bat           text eol=crlf
*.jpg		    -text
*.sh		    text eol=lf
*.py		    eol=lf
*.java		    eol=lf

