<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korov.gradle.knowledge.dao.ManagersDao">
    <resultMap id="BaseResultMap" type="com.korov.gradle.knowledge.model.Managers">
        <!--@mbg.generated-->
        <result column="securities_code" jdbcType="VARCHAR" property="securitiesCode"/>
        <result column="statistics_deadline" jdbcType="VARCHAR" property="statisticsDeadline"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="job_category" jdbcType="VARCHAR" property="jobCategory"/>
        <result column="specific_duties" jdbcType="VARCHAR" property="specificDuties"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="age" jdbcType="VARCHAR" property="age"/>
        <result column="educational_background" jdbcType="VARCHAR" property="educationalBackground"/>
        <result column="start_date_of_current_position" jdbcType="VARCHAR" property="startDateOfCurrentPosition"/>
        <result column="end_date_of_current_position" jdbcType="VARCHAR" property="endDateOfCurrentPosition"/>
    </resultMap>
    <insert id="insert" parameterType="com.korov.gradle.knowledge.model.Managers">
        <!--@mbg.generated-->
        insert into managers (securities_code, statistics_deadline,
        full_name, job_category, specific_duties,
        gender, age, educational_background,
        start_date_of_current_position, end_date_of_current_position
        )
        values (#{securitiesCode,jdbcType=VARCHAR}, #{statisticsDeadline,jdbcType=VARCHAR},
        #{fullName,jdbcType=VARCHAR}, #{jobCategory,jdbcType=VARCHAR}, #{specificDuties,jdbcType=VARCHAR},
        #{gender,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{educationalBackground,jdbcType=VARCHAR},
        #{startDateOfCurrentPosition,jdbcType=VARCHAR}, #{endDateOfCurrentPosition,jdbcType=VARCHAR}
        )
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select securities_code,
               statistics_deadline,
               full_name,
               job_category,
               specific_duties,
               gender,
               age,
               educational_background,
               start_date_of_current_position,
               end_date_of_current_position
        from managers;
    </select>
    <insert id="insertAllResult" parameterType="java.util.List">
        insert into managers_result (securities_code, statistics_deadline, full_name, job_category, specific_duties,
        gender, age, educational_background, start_date_of_current_position, end_date_of_current_position) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.securitiesCode,jdbcType=VARCHAR}, #{item.statisticsDeadline,jdbcType=VARCHAR},
            #{item.fullName,jdbcType=VARCHAR}, #{item.jobCategory,jdbcType=VARCHAR},
            #{item.specificDuties,jdbcType=VARCHAR},
            #{item.gender,jdbcType=VARCHAR}, #{item.age,jdbcType=VARCHAR},
            #{item.educationalBackground,jdbcType=VARCHAR},
            #{item.startDateOfCurrentPosition,jdbcType=VARCHAR}, #{item.endDateOfCurrentPosition,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>
