<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korov.gradle.knowledge.dao.NewfortuneDao">
    <resultMap id="BaseResultMap" type="com.korov.gradle.knowledge.model.Newfortune">
        <id column="PRAN_UUID" jdbcType="VARCHAR" property="pranUuid"/>
        <result column="RPI_NAME" jdbcType="VARCHAR" property="rpiName"/>
        <result column="SCO_NAME" jdbcType="VARCHAR" property="scoName"/>
        <result column="ECO_NAME" jdbcType="VARCHAR" property="ecoName"/>
        <result column="AOI_NAME" jdbcType="VARCHAR" property="aoiName"/>
        <result column="PTI_NAME" jdbcType="VARCHAR" property="ptiName"/>
        <result column="COUNTCER" jdbcType="VARCHAR" property="countcer"/>
        <result column="COUNTCX" jdbcType="VARCHAR" property="countcx"/>
        <result column="RNUM" jdbcType="INTEGER" property="rnum"/>
    </resultMap>
    <sql id="Base_Column_List">
            PRAN_UUID,
            RPI_NAME,
            SCO_NAME,
            ECO_NAME,
            AOI_NAME,
            PTI_NAME,
            COUNTCER,
            COUNTCX,
            RNUM
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from newfortune
        where PRAN_UUID = #{pranUuid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from newfortune
        where PRAN_UUID = #{pranUuid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.korov.gradle.knowledge.model.Newfortune">

        insert into newfortune (PRAN_UUID, RPI_NAME, SCO_NAME,
                                ECO_NAME, AOI_NAME, PTI_NAME,
                                COUNTCER, COUNTCX, RNUM)
        values (#{pranUuid,jdbcType=VARCHAR}, #{rpiName,jdbcType=VARCHAR}, #{scoName,jdbcType=VARCHAR},
                #{ecoName,jdbcType=VARCHAR}, #{aoiName,jdbcType=VARCHAR}, #{ptiName,jdbcType=VARCHAR},
                #{countcer,jdbcType=VARCHAR}, #{countcx,jdbcType=VARCHAR}, #{rnum,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.korov.gradle.knowledge.model.Newfortune">
        update newfortune
        set RPI_NAME = #{rpiName,jdbcType=VARCHAR},
            SCO_NAME = #{scoName,jdbcType=VARCHAR},
            ECO_NAME = #{ecoName,jdbcType=VARCHAR},
            AOI_NAME = #{aoiName,jdbcType=VARCHAR},
            PTI_NAME = #{ptiName,jdbcType=VARCHAR},
            COUNTCER = #{countcer,jdbcType=VARCHAR},
            COUNTCX  = #{countcx,jdbcType=VARCHAR},
            RNUM     = #{rnum,jdbcType=INTEGER}
        where PRAN_UUID = #{pranUuid,jdbcType=VARCHAR}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        update newfortune
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="RPI_NAME = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when PRAN_UUID = #{item.pranUuid,jdbcType=VARCHAR} then #{item.rpiName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="SCO_NAME = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when PRAN_UUID = #{item.pranUuid,jdbcType=VARCHAR} then #{item.scoName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="ECO_NAME = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when PRAN_UUID = #{item.pranUuid,jdbcType=VARCHAR} then #{item.ecoName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="AOI_NAME = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when PRAN_UUID = #{item.pranUuid,jdbcType=VARCHAR} then #{item.aoiName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="PTI_NAME = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when PRAN_UUID = #{item.pranUuid,jdbcType=VARCHAR} then #{item.ptiName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="COUNTCER = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when PRAN_UUID = #{item.pranUuid,jdbcType=VARCHAR} then #{item.countcer,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="COUNTCX = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when PRAN_UUID = #{item.pranUuid,jdbcType=VARCHAR} then #{item.countcx,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="RNUM = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when PRAN_UUID = #{item.pranUuid,jdbcType=VARCHAR} then #{item.rnum,jdbcType=INTEGER}
                </foreach>
            </trim>
        </trim>
        where PRAN_UUID in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.pranUuid,jdbcType=VARCHAR}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        insert into newfortune
        (PRAN_UUID, RPI_NAME, SCO_NAME, ECO_NAME, AOI_NAME, PTI_NAME, COUNTCER, COUNTCX,
        RNUM)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.pranUuid,jdbcType=VARCHAR}, #{item.rpiName,jdbcType=VARCHAR}, #{item.scoName,jdbcType=VARCHAR},
            #{item.ecoName,jdbcType=VARCHAR}, #{item.aoiName,jdbcType=VARCHAR}, #{item.ptiName,jdbcType=VARCHAR},
            #{item.countcer,jdbcType=VARCHAR}, #{item.countcx,jdbcType=VARCHAR}, #{item.rnum,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from newfortune
    </select>
</mapper>
