# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = mingyan.settings

[deploy:mingyan]
#部署的服务器地址
url = http://172.16.193.141:6800/
project = mingyan
