<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rolemanager.user.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.rolemanager.commons.model.users.UserRoleModel">
        <!--@mbg.generated-->
        <!--@Table table_user_role-->
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete from table_user_role
        where role_id = #{roleId,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.rolemanager.commons.model.users.UserRoleModel">
        <!--@mbg.generated-->
        insert into table_user_role (role_id, user_id)
        values (#{roleId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.rolemanager.commons.model.users.UserRoleModel">
        <!--@mbg.generated-->
        insert into table_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update table_user_role
        <trim prefix="set" suffixOverrides=","/>
        where role_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.roleId,jdbcType=BIGINT}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update table_user_role
        <trim prefix="set" suffixOverrides=","/>
        where role_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.roleId,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into table_user_role
        (role_id, user_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId,jdbcType=BIGINT}, #{item.userId,jdbcType=INTEGER})
        </foreach>
    </insert>
</mapper>
