<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rolemanager.user.mapper.UserGroupMapper">
    <resultMap id="BaseResultMap" type="com.rolemanager.commons.model.users.UserGroupModel">
        <!--@mbg.generated-->
        <!--@Table table_user_group-->
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <id column="group_id" jdbcType="BIGINT" property="groupId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete from table_user_group
        where user_id = #{userId,jdbcType=BIGINT}
        and group_id = #{groupId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.rolemanager.commons.model.users.UserGroupModel">
        <!--@mbg.generated-->
        insert into table_user_group (user_id, group_id)
        values (#{userId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.rolemanager.commons.model.users.UserGroupModel">
        <!--@mbg.generated-->
        insert into table_user_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update table_user_group
        <trim prefix="set" suffixOverrides=","/>
        where user_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.userId,jdbcType=BIGINT}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update table_user_group
        <trim prefix="set" suffixOverrides=","/>
        where user_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.userId,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into table_user_group
        (user_id, group_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId,jdbcType=BIGINT}, #{item.groupId,jdbcType=BIGINT})
        </foreach>
    </insert>
</mapper>
