<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div class="table-responsive">
        <caption>响应式表格布局</caption>
        <table class="table thead-dark table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th>登录名</th>
                <th>昵称</th>
                <th>邮箱</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,userStat:${entities}">
                <td th:text="${user.loginName}"></td>
                <td th:text="${user.nickName}"></td>
                <td th:text="${user.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}" type="text/javascript"></script>
</body>
</html>